*.mrc
*.db
*~
*.o
*.a
*.pyc
*.log
*.tar.gz
*.timestamp
*.class
*.gcda
*.gcno
*.info
out
.deps
LOEPPN-*
\#*\#
add_author_synonyms
add_child_refs
add_isbns_or_issns_to_articles
add_journal_subscription
add_superior_and_alertable_flags
add_synonyms
add_title_keywords
add_ub_sigil_to_articles
append_marc_xml
archive_reader_test
archive_writer_test
augment_773a
augment_bible_references
auto_temp_file_test
backtrace_test
base_tar_unpacker
bib_ref_parser_test
bib_ref_to_codes_tool
categorise_marc_xml
chop_into_words_test
compress_test
control_number_filter
convert_bible_references
convert_xml_to_marc21
create_author_synonym_map
create_full_text_db
db_lookup
delete_ids
delete_unused_local_data
deserialise_php_test
display_translate_stats
download_test
dsv_reader
enrich_ddcs
enrich_keywords_with_title_words
expand_template_test
exec_test
extract_keywords_for_translation
extract_normdata_translations
extract_text_from_image_only_pdfs
extract_vufind_translations_for_translation
fifo_pipe_file_test
files_differ_test
find_substring_test
fix_article_biblio_levels
full_text_cache_cleaner
full_text_lookup
generate_vufind_translation_files
get_file_media_type_test
getfilename_test
getusername_test
insert_translation_gaps
installer
iViaCore-mkdep
json_parser_test
jop_grep
kcdb_info
make_marc_xml
map_ddc_and_rvk_to_ixtheo_notations
marc_filter
marc_grep
marc_grep_tokenizer_test
marc_info
marc_split
marc_tag_grep
merge_differential_and_full_marc_updates
mysql_test
new_journal_alert
notify_users
Pipeline
populate_in_tuebingen_available
ppn_test
regex_matcher
remove_directory_test
remove_matching_files_test
rename_file_test
resolve_in_path_test
send_email_test
set_tad_access_flag
shared_buffer_test
simple_file_test
simple_xml_parser_test
solr_query_test
stemmer_test
stemwords
string_info
test_chop_into_words
test_find_substring
test_auto_temp_file
translate_chainer
translation_db_tool
translation_exporter
translator
update_full_text_db
update_ixtheo_notations
urlencode
vufind_db_test
xml_parser_test
marc_compare
add_referenceterms
extract_referenceterms
add_additional_relbib_entries
add_superior_flag
generate_vufind_translation_files
delete_unused_local_data
convert_bible_references
insert_translation_gaps
krimdok_filter
krimdok_marc_pipeline.sh_no_fulltext
new_journal_alert
convert_oai_pmh_dc_to_marc21
marc_char_filter
normalise_urls
translator
augment_authority_data_with_translations
krimdok_flag_pda_records
mpi_stats
translation_keyword_stats

bsz_daten
bsz_daten_cumulated
KeywordChainParser-*.jar
BibleRangeParser-*.jar
solr_plugins/Bibelstellensuche/bin/
solr_plugins/Schlagwortfolgensuche/bin/
SolrmarcMixin-*.jar
FacetPrefixSortComponent-*.jar
MultiLanguageDocTransformerFactory-0.0.1.jar
MultiLanguageQueryParser-0.0.1.jar
solr_plugins/PrefixSortFacetten/bin/
solrmarc_mixin/bin/
go/bin/*

cronjobs/README
