*.mrc
*.db
*~
*.o
*.a
*.pyc
*.log
*.tar.gz
*.timestamp
*.class
*.gcda
*.gcno
*.info
*_test
out
.deps
LOEPPN-*
\#*\#
add_additional_relbib_entries
add_author_synonyms
add_child_refs
add_isbns_or_issns_to_articles
add_journal_subscription
add_publication_year_to_serials
add_referenceterms
add_superior_and_alertable_flags
add_superior_flag
add_synonyms
add_title_keywords
append_marc_xml
augment_773a
augment_authority_data_with_translations
augment_pda
augment_bible_references
base_tar_unpacker
base64_coder
bib_ref_to_codes_tool
categorise_marc_xml
control_number_filter
convert_bible_references
convert_oai_pmh_dc_to_marc21
convert_xml_to_marc21
count_gnd_refs
create_author_synonym_map
create_full_text_db
crossref_downloader
db_lookup
delete_ids
delete_unused_local_data
display_translate_stats
dsv_reader
enrich_ddcs
enrich_keywords_with_title_words
extract_keywords_for_translation
extract_local_keywords
extract_normdata_translations
extract_referenceterms
extract_text_from_image_only_pdfs
extract_vufind_translations_for_translation
find_tue_dups
flag_records_as_available_in_tuebingen
test_chop_into_words
fix_article_biblio_levels
fix_iso_8859_1_garbage
flag_article_collections
full_text_cache_cleaner
full_text_cache_expirer
full_text_lookup
full_text_stats
generate_title_and_author_list
generate_vufind_translation_files
get_essay_collection_pdfs
insert_translation_gaps
installer
iViaCore-mkdep
json_grep
jop_grep
kcdb_info
krimdok_filter
krimdok_marc_pipeline.sh_no_fulltext
krimdok_flag_pda_records
lcsh_filter
lcsh_stats
make_marc_xml
map_ddc_and_rvk_to_ixtheo_notations
marc_char_filter
marc_compare
marc_filter
marc_grep
marc_info
marc_size
marc_split
marc_tag_grep
merge_differential_and_full_marc_updates
mpi_stats
new_journal_alert
normalise_urls
notify_users
oai_pmh_harvester
oai_pmh_list_formats
Pipeline
populate_in_tuebingen_available
regex_matcher
replace_marc_records
set_tad_access_flag
stemwords
string_info
subfield_code_replacer
test_chop_into_words
test_find_substring
test_auto_temp_file
tests/generate_large_marc_record
translate_chainer
translation_db_tool
translation_exporter
translation_keyword_stats
translator
translator_ajax
update_authority_data
update_full_text_db
update_ixtheo_notations
urlencode
zotero_crawler
zts_client

bsz_daten
bsz_daten_cumulated
KeywordChainParser-*.jar
BibleRangeParser-*.jar
solr_plugins/Bibelstellensuche/bin/
solr_plugins/Schlagwortfolgensuche/bin/
SolrmarcMixin-*.jar
FacetPrefixSortComponent-*.jar
MultiLanguageDocTransformerFactory-0.0.1.jar
MultiLanguageQueryParser-0.0.1.jar
solr_plugins/PrefixSortFacetten/bin/
solrmarc_mixin/bin/
go/bin/*

cronjobs/README

*nbproject*
