*.mrc
*.db
*~
*.o
*.a
*.pyc
*.log
*.tar.gz
*.timestamp
*.class
*.gcda
*.gcno
*.info
*_test
out
.deps
LOEPPN-*
\#*\#
proxyCA.*

cronjobs/README
*nbproject*
.vscode
*.tmp

/.metadata/
ub_tools.code-workspace
java/.project

Backups
Cache
CachedData
CachedExtensions
Code\ Cache
Crashpad
Dictionaries
GPUCache
Local\ Storage
Service\ Worker
Session\ Storage
User
WebStorage
databases