body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}

a {
    color: #825d2d;
}

a:hover {
    color: #A51E37;
}

textarea {
    width: 100%;
}