# We currently support the following kinds of rules.
#
# subfield_match field_tag_plus_subfield_code regex
# first_subfield_match field_tag_plus_subfield_code regex
#
first_subfield_match 1004 arc|aut|sci|art|char|dsr|aus|inv|fmk|pht|cre|ivr|ive|cll|ctg|cmp|art|lsa|lbt|enj|pra|prg|cre|rsp|lyr|aut|com|dfd|apl|ape|jug|jud|ptf|oth
