# We currently support the following kinds of rules.
#
# subfield_match ii field_tag_plus_subfield_code regex
# first_subfield_match ii field_tag_plus_subfield_code regex
#
# Here "ii" represent the indicators.  A hash sign is used as the wildcard symbol for the indicators.
#
first_subfield_match ## 1004 arc|aut|sci|art|char|dsr|aus|inv|fmk|pht|cre|ivr|ive|cll|ctg|cmp|art|lsa|lbt|enj|pra|prg|cre|rsp|lyr|aut|com|dfd|apl|ape|jug|jud|ptf|oth
first_subfield_match uw 936j [0-9X]{4}
