Dear {firstname} {lastname},<br /><br />
An automated process has determined that new issues are available for
serials that you are subscribed to.  The list is:
<ul>
{LOOP url,series_title,issue_title}  <li>{series_title}:<br />&nbsp;&nbsp;&nbsp;<a href="{url}">{issue_title}</a></li>
{ENDLOOP}</ul>
<br />
Sincerely,<br />
The IxTheo Team
<br />--<br />
If you have questions regarding this service please contact
<a href="mailto:ixtheo@ub.uni-tuebingen.de">ixtheo@ub.uni-tuebingen.de</a>.
