add_additional_relbib_entries
add_article_cross_links
add_author_synonyms
add_authority_beacon_information
add_authority_external_ref
add_cross_link_type
add_is_superior_work_for_subsystems
add_isbns_or_issns_to_articles
add_local_data
add_missing_cross_links
add_oa_urls
add_publication_year_to_serials
add_referenceterms
add_subscription_bundle_entries
add_subsystem_tags
add_superior_and_alertable_flags
add_synonyms
augment_773a
augment_authority_data_with_translations
augment_bible_references
augment_canones_references
augment_mohr_titles_with_dois
augment_pda
augment_time_aspects
collect_journal_stats
create_literary_remains_records
enrich_keywords_with_title_words
expand_DIN_ISO_3166_geographic_codes
export_subsystem_ids_to_db
extract_authority_data_translations
extract_keywords_for_translation
extract_vufind_translations_for_translation
find_transitive_record_set
flag_article_collections
flag_electronic_and_open_access_records
flag_records_as_available_in_tuebingen
generate_vufind_translation_files
krimdok_flag_pda_records
map_ddc_to_ixtheo_notations
normalise_urls
patch_ppns_in_databases
populate_in_tuebingen_available
remove_dangling_references
rewrite_keywords_and_authors_from_authority_data
transfer_880_translations
update_ixtheo_notations
