[Unit]
Description=Zotero Translation Server
Documentation=https://github.com/zotero/translation-server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/docker run -p 1969:1969 zts

[Install]
WantedBy=multi-user.target

