[Unit]
Description=Zotero Translation Server
Documentation=https://github.com/zotero/translation-server
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/local/ub_tools/docker/zts/systemd/start.sh
ExecStop=/usr/local/ub_tools/docker/zts/systemd/stop.sh

[Install]
WantedBy=multi-user.target
