[Unit]
Description=Zotero Translation Server
Documentation=https://github.com/zotero/translation-server

[Service]
Type=forking
EnvironmentFile=-/usr/local/etc/zts_proxy.env
ExecStart=/usr/local/ub_tools/docker/zts/systemd/start.sh
ExecStop=/usr/local/ub_tools/docker/zts/systemd/stop.sh
PIDFile=/var/run/zts.pid

[Install]
WantedBy=multi-user.target
