# compiled cpp programs
## (here we use / at the beginning by default, so e.g. /installer is ignored, but not data/installer)
.static_deps
/add_journal_subscription
/generate_new_journal_alert_stats
/add_title_keywords
/append_marc_xml
/base_tar_unpacker
/base62_coder
/bib_ref_to_codes_tool
/build_package
/bulk_mailer
/canon_law_ref_to_codes_tool
/classify_language
/clean_tag_db
/canon_law_to_codes_tool
/collect_solr_stats_data
/concat
/control_number_guesser
/convert_bible_references
/convert_json_to_marc
/convert_oai_pmh_dc_to_marc21
/convert_rss_db_tables
/convert_tags_to_keywords
/count_author_gnd_refs
/create_full_text_db
/create_match_db
/crossref_downloader
/db_lookup
/decode_ngram_file
/delete_obsolete_author_references
/delete_unused_local_data
/dsv_reader
/edit_ini_file
/email_address_validator
/email_watcher
/embedded_metadata_pdf_processor
/enrich_ddcs
/es_store_document
/export_vufind_redirects
/extract_authority_data_translations
/extract_keywords_for_translation
/extract_local_keywords
/extract_local_krimdok_topics
/extract_person_gnd_numbers
/extract_referenceterms
/extract_text_from_image_only_pdfs
/extract_zeder_data
/find_bib_ref_candidates_in_titles
/find_gnd_reference_fields
/find_latest_journal_year
/find_missing_references
/find_new_cologne_articles
/find_tue_dups
/fix_article_biblio_levels
/fix_iso_8859_1_garbage
/full_text_cache_cleaner
/full_text_cache_monitor
/full_text_stats
/generate_issn_maps_from_zeder
/generate_keyword_normalizations
/generate_language_model
/generate_library_dependency_graph
/generate_list_of_essay_collections
/generate_simple_math_puzzle
/generate_subscription_packets
/generate_tags_and_keyword_fields_map
/generate_title_and_author_list
/generate_year_correction_list
/get_dangling_title_references
/get_essay_collection_pdfs
/import_rss_aggregator_conf
/inifile_lookup
/insert_translation_gaps
/installer
/jop_grep
/journal_publishing_processor
/json_grep
/krimdok_marc_pipeline.sh_no_fulltext
/lcsh_stats
/library_finder
/log_rotate
/mpi_stats
/mysql_database_patcher
/mysql_diff_schemas
/mysql_list_tables
/make_named_pipe
/new_journal_alert
/new_journal_tool
/ngram_stats
/normalise_and_deduplicate_language
/normalise_author_name
/normalise_marc_contents
/normalise_title
/notify_users
/oai_pmh_harvester
/oai_pmh_list_formats
/onix_processor
/populate_in_tuebingen_available
/regex_matcher
/refterm_augmentor
/remove_leading_bytes
/remove_redundant_includes
/remove_unused_authority_records
/rewrite_ssoar
/rss_aggregator
/rss_feed_generator
/rss_subset_aggregator
/sammelschrift_statistik
/send_email
/set_tad_access_flag
/simple_crawler
/sqlite_copy
/store_local_data
/string_info
/suggest_bib_refs
/summarize_logs
/syslog
/system_updater
/time_aspects_to_codes_tool
/topo_sorter
/translation_db_tool
/translation_exporter
/translation_keyword_stats
/update_full_text_db
/urlencode

# other excludes
iViaCore-mkdep
log
Pipeline
stemwords
test_auto_temp_file
test_chop_into_words
test_find_substring
test_utf32_to_lowercase_conversion
test/base64_coder
tests/generate_large_marc_record
tests/TextUtil_CollapseAndTrimWhitespaceTest
