build
dist
test

BibleRangeParser-*.jar
FacetPrefixSortComponent-*.jar
MultiLanguageDocTransformerFactory-0.0.1.jar
MultiLanguageQueryParser-0.0.1.jar
KeywordChainParser-*.jar
RangedSearches.jar
solr_plugins/build.xml
solr_plugins/Bibelstellensuche/bin/
solr_plugins/Schlagwortfolgensuche/bin/
solr_plugins/PrefixSortFacetten/bin/

