build
dist
test

BibleRangeParser-*.jar
ConditionalInsertField-*.jar
CustomDebugComponent-*.jar
FacetPrefixSortComponent-*.jar
MultiLanguageDocTransformerFactory-*.jar
MultiLanguageQueryParser-*.jar
KeywordChainParser-*.jar
RangedSearches.jar
solr_plugins/build.xml
solr_plugins/Bibelstellensuche/bin/
solr_plugins/Schlagwortfolgensuche/bin/
solr_plugins/PrefixSortFacetten/bin/

