body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}

textarea {
    width: 100%;
}

a.disabled {
    color: #555555;
}


/* dots for multiple views (journal state, record state, etc.) */
span.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

/* journal states */
span.dot-journal-none {
    background-color: grey;
}

span.dot-journal-success {
    background-color: green;
}

span.dot-journal-warning {
    background-color: yellow;
}

span.dot-journal-error {
    background-color: red;
}

/* record states */
span.dot-record-automatic {
    background-color: green;
}

span.dot-record-manual {
    background-color: turquoise;
}

span.dot-record-error {
    background-color: yellow;
}

span.dot-record-ignore {
    background-color: grey;
}

span.dot-record-reset {
    background-color: blue;
}

span.dot-record-online-first {
    background-color: black;
}

/* QA template specific */
div.qa_rule_overridden {
    color: grey;
}

.col-tag {

}

.col-global-regular {
    background-color: #ccffcc;
}

.col-global-review {
    background-color: #ffffcc;
}

.col-local-regular {
    background-color: #99ff99;
}

.col-local-review {
    background-color: #ffff99;
}

.col-global-non-article {
    background-color: #e6f0ff;
}

.col-local-non-article {
    background-color: #66a3ff;
}
