body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

th {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}

textarea {
    width: 100%;
}

a.disabled {
    color: #555555;
}

span.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
