body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
}

textarea {
    width: 100%;
}

a.disabled {
    color: #555555;
}
