[Unit]
After=mnt-ZE020150.mount

[Service]
Type=forking
ExecStart=/usr/local/bin/system_monitor /mnt/ZE020150/FID-Entwicklung/system-monitor/{hostname}.stats'
PIDFile=/usr/local/run/system_monitor.pid
Restart=always
SuccessExitStatus=0
User=root

[Install]
WantedBy=multi-user.target

