After=network.target httpd.service

[Service]
Type=forking
ExecStart=/bin/sh -l -c '/usr/local/vufind/solr.sh start' -x
PIDFile=/usr/local/vufind/solr/vendor/bin/solr-8080.pid
ExecStop=/bin/sh -l -c '/usr/local/vufind/solr.sh stop' -x
SuccessExitStatus=0
User=solr

[Install]
WantedBy=multi-user.target

